window {
    font-family: Noto Sans Mono;
}

#input {
    margin: 0px 0px 5px;
    border: 2px solid #b58900;
    font-size: 18px;
}

#scroll {
    margin: 0px;
    border: 2px solid #586e75;
}

#text {
    margin: 1px;
    font-size: 18px;
}

#selected {
    background-color: rgb(76, 162, 223);
}
